* {
    font-size: 16pt;
    font-family: "Comic Sans MS";
}

#sidebarTree {
}

#sidebarTree::item {
    border-bottom: 1px solid;
}

#sidebarTree::item:selected {
    color: #000;
}

#optionsTitle {
    font-size: 30pt;
}

/*
#tutorialImage {
    border: 1px solid black;
}*/
