* {
font-size: 20pt;
font-family: "Comic Sans MS";
}

#sidebarTree {
    background-color: #b0fcf3;
}

#sidebarTree::item {
border-bottom: 1px solid green;
}

#sidebarTree::item:selected {
color: #a00;
}

#optionsTitle {
font-size: 30pt;
}

QMainWindow {
    background-color: #a7d2f9;
}
QTabWidget {
    background-color: #b0fcf3;
}
